.header {
  text-align: left;
  padding: 1rem;
}

.header > * {
  display: inline-block;
  padding-right: 1rem;
}

h5 {
  font-style: italic;
}

.cy-panzoom {
  left: 1rem;
  top: 1rem;
}

.map {
  height: 100%;
}

#map-content {
  height: 100%;
}

#info-wrapper {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.hidden { 
  display: none;
}

.details {
  z-index: 999;
  position: absolute;
  width: 15rem;
  right: 1rem;
  top: 6rem;
  height: 70%;
  overflow-y: scroll;
}

#details-info.accordion > .card .card-header {
  padding: 0;
}

#details-title, #details-tooltip {
  padding: 1rem;
  margin-bottom: 0;
}

body, .content {
  width: 100vw;
  height: 100vh;
}

.zoom-in {
  content: "";
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor ' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z' clip-rule='evenodd'/><path fill-rule='evenodd' d='M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}
