.header {
  text-align: left;
  padding: 1rem;
}

.header > * {
  display: inline-block;
  padding-right: 1rem;
}

h5 {
  font-style: italic;
}

.map {
  height: 600px;
}

#map-content {
  height: 100%;
}

#info-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
}

body, .content {
  width: 100vw;
  height: 100vh;
}
