.header {
  text-align: left;
  padding: 1.5rem;
}

.header > * {
  display: inline-block;
  padding-right: 1rem;
}

h4 {
  font-style: italic;
}

.map {
  height: 600px;
}

#map-content {
  height: 100%;
}

body, .content {
  width: 100vw;
  height: 100vh;
}
